volumes:
    duc_database:
    duc_config:

services:
  duc-service:
    build: .
    ports:
      # example 80 -> 80
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    volumes:
      # example: scan the whole root partition
      - type: bind
        source: /
        target: /scan/root
        read_only: true
      # example: store the database outside the container
      - type: volume
        source: duc_database
        target: /database
      # persist configuration such as scan schedule
      - type: volume
        source: duc_config
        target: /config
